@tailwind base;
@tailwind components;
@tailwind utilities;

/* 模拟 Canvas 的滚动条样式 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
}